[submodule "vendor/bundles/Stof/ExtensionsBundle"]
	path = vendor/bundles/Stof/ExtensionsBundle
	url = https://github.com/stof/DoctrineExtensionsBundle.git
[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
