<div class="subsection">
    <h3>{{ 'Address' | trans }}</h3>
    c/ Pau Claris 115 entresuelo 2ª<br/>
    08009 Barcelona, España
</div>

<div class="subsection">
    <h3>{{ 'Email' | trans }}</h3>
    <a href="mailto:contact@kailab.com">contact@kailab.com</a>
</div>

<div class="subsection">
    <h3>{{ 'Telephone' | trans }}</h3>
    +34 935 323 700
</div>

<div class="subsection">
    <h3>{{ 'Fax' | trans }}</h3>
    +34 935 323 701
</div>
