{% extends "KailabFrontendBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Contact' | trans }}
{% endblock %}

{% block content %}
<h2>Quienes somos</h2>

<p>Probando lalal If it changed, it's probably because some auto-indenting setting changed 
(autoindent, smartindent, cindent, indentexpr), and/or a filetype plugin 
was turned on or changed/updated, and/or the value of 'formatoptions' 
changed.</p>

<p>The standard way to avoid this is to set the 'paste' option before 
pasting and reset it afterwards. You can make a key do this with the 
'pastetoggle' option, too.</p>

{% endblock %}
