{% extends 'div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        <div class="form_row_content">
        {{ form_widget(form) }}
        </div>
        <div class="form_row_error">
        {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}


