.contact_info {
    float: right;
    width: 290px;
}

#main .contact_info h3 {
    border: 0;
    padding: 0;
    margin: 0 0 2px 0;
}

.offer {
    border: 1px solid #BDCA0E;
    background: #FFFFFF;
    padding: 1em;
    font-style: italic;
    margin-top: 1em;
}
