.paginator {
	height: 30px;
	overflow: hidden;	
}

.paginator .nav {
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 30px;
    padding: 0;
}

.paginator ul li {
    display: inline;
}

.paginator a {
    width: 0;
    height: 0;
    padding:  15px;
    color: transparent;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
	background: url(../images/slider_bullets.png) no-repeat;
    background-position: 0px 0px;
    font-size: 0px;
    line-height: 30px;
    text-indent: -30px;
    cursor: pointer;
}

.paginator a.activeSlide,
.paginator .selected,
.paginator .current a {
    background-position: 0px -30px;
}

.paginator .previous {
	width:30px;
	height:30px;
    float: left;
    cursor: pointer;
    z-index: 600;
	background:url(../images/slider_arrows_black.png) no-repeat;
    padding: 0;
}

.paginator .next {
    padding: 0;
	width: 30px;
	height: 30px;
    float: right;
    cursor: pointer;
    z-index: 600;
	background:url(../images/slider_arrows_black.png) no-repeat;
    background-position: -30px 0;
}
