
ul.screenshots {
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0;
}

ul.screenshots li {
    float: left;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}

.screenshot_wrapper .delete {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #BDCA0E;
    font-size: 0;
    text-indent: -99999px;
    background-image: url(../bundles/kailabfrontend/images/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

ul.selected_screenshots {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.available_screenshots li {
    cursor: pointer;
}

#app_icons {
    padding: 0;
    margin: 0;
    width: 760px;
}

#app_icons li {
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 25px;
    width: 150px;
    height: 150px;
    margin-left: -25px;
    list-style: none;
}

#app_icons li:first-child {
    margin-left: 0;
}

#app_icons li.selected {
    background-image: url(../bundles/kailabfrontend/images/bg_selected_screenshot.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#app_icons li .app_item_title {
    font-size: 200%;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    display: block;
}

#app_icons li.selected .app_item_title {
    color: #FFFFFF;
}

.app {
    background-image: url(../bundles/kailabfrontend/images/sep_big.png);
    background-position: top center;
    background-repeat: no-repeat;
    clear: both;
    overflow: hidden;
    padding-top: 25px;
    margin-bottom: 25px;
}

.app_inner {
    width: 960px;
    margin: 0 auto;
}

.app .side {
    float: left;
    width: 250px;
    position: relative;
}

.app.horizontal_orientation .side {
    float: none;
    text-align: center;
    width: 710px;
    margin-bottom: 10px;
}

.app.horizontal_orientation .screenshots {
    width: 500px;
    margin: 0 auto;
}

.app.horizontal_orientation .main {
    margin-left: 0;
    margin-right: 250px;
}

.app.horizontal_orientation .description {
    margin: 0;
}

.app .main {
}

.app .main_with_side {
    margin-left: 250px;
}

#main .app .main h2 {
    background-image: url(../bundles/kailabfrontend/images/bg_title.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: #000000;
    padding: 3px 60px 0 60px;
    border: 0;
}

.app .description {
    margin: 0 200px 0 0;
    padding: 0 10px;
}

.app .info {
    float: right;
    width: 200px;
}

#main .app .info h3 {
    color: #000000;
    font-size: 14px;
    border: 0;
}

#main .app .info ul {
    margin: 0;
    padding: 0;
}

#main .app .info li {
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
}

#apps_scroll {
    position: relative;
    height: 225px;
    width: 960px;
    margin: 0 auto;
}

#apps_scroll .hotspot_left
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 200;
	left: 0;
	cursor: w-resize;
}

#apps_scroll .hotspot_right
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: e-resize;
}

#apps_scroll .wrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#apps_scroll .scrollable 
{
	position: relative;
	height: 100%;
}


