
ul.screenshots {
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0;
}

ul.screenshots li {
    float: left;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
}

.screenshot_wrapper .delete {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #BDCA0E;
    font-size: 0;
    text-indent: -99999px;
    background-image: url(../../bundles/kailabfrontend/images/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

ul.selected_screenshots {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.available_screenshots li {
    cursor: pointer;
}

#app_icons {
    padding: 0;
    margin: 0 auto;
    width: 1000px;
}

#app_icons li {
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 25px;
    width: 150px;
    height: 150px;
    list-style: none;
    text-align: center;
}

#app_icons li a {
    text-decoration: none;
}

#app_icons li.selected {
    background-image: url(../../bundles/kailabfrontend/images/bg_selected_screenshot.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#app_icons li .app_item_title {
    font-size: 200%;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    display: block;
}

#app_icons li.selected .app_item_title {
    color: #FFFFFF;
}

.app {
    clear: both;
    overflow: hidden;
}

#apps .app {
    background-image: url(../../bundles/kailabfrontend/images/sep_big.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 25px;
}

.app_inner {
    width: 960px;
    margin: 0 auto;
}

.app .side {
    float: left;
    width: 250px;
    position: relative;
}

.app .side .nav {
    width: 190px;
}

.app.horizontal .side,
.app.both .side {
    float: none;
    text-align: center;
    width: 710px;
    margin-bottom: 10px;
}

.app.horizontal .side .nav,
.app.both .side .nav {
    width: 650px !important;
}

.app.both .screenshots,
.app.horizontal .screenshots {
    width: 710px !important;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.app.both .screenshots li,
.app.horizontal .screenshots li {
    margin: 0 !important;
    width: 710px !important;
}

.app.both .main,
.app.horizontal .main {
    margin-left: 0 !important;
    margin-right: 250px;
}

.app.both .description,
.app.horizontal .description {
    margin: 0;
}

.app .main {
}

.app .main.with_side {
    margin-left: 250px;
}

#main .app .title {
    color: #000000;
    padding: 0;
    margin: 0 0 10px 0;
    background-image: none;
    overflow: hidden;
}

#main .app .title .left {
    background-image: url(../../bundles/kailabfrontend/images/bg_title_left.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 60px;
}

#main .app .title .right {
    background-image: url(../../bundles/kailabfrontend/images/bg_title_right.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 60px;
}

#main .app .title .inner {
    background-image: url(../../bundles/kailabfrontend/images/bg_title.png);
    background-repeat: repeat-x;
    padding: 2px 5px;
}

.app .description {
    margin: 0 200px 0 0;
    padding: 0 10px;
}

.app .info {
    float: right;
    width: 200px;
}

#main .app .info h3 {
    color: #000000;
    font-size: 14px;
    border: 0;
    margin-bottom: 10px;
}

#main .app .info ul {
    margin: 0;
    padding: 0;
}

#main .app .info li {
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main .app .info li img {
    vertical-align: middle;
    margin-right: 5px;
}

#main .app .info li a {
    text-decoration: none;
    color: #9B9B9B;
}

#main .app .info li a:hover {
    color: #8A8A8A;
}

.more_apps {
    text-decoration: none;
    font-size: 150%;
    clear: both;
    display: block;
    line-height: 30px;
    text-align: right;
    width: 960px;
}

.more_apps img {
    vertical-align: middle;
}

.paginator {
	height: 30px;
	overflow: hidden;	
}

.paginator .nav {
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 30px;
    padding: 0;
}

.paginator ul li {
    display: inline;
}

.paginator a {
    width: 0;
    height: 0;
    padding:  15px;
    color: transparent;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
	background: url(../../bundles/kailabfrontend/images/slider_bullets.png) no-repeat;
    background-position: 0px 0px;
    font-size: 0px;
    line-height: 30px;
    text-indent: -30px;
    cursor: pointer;
}

.paginator a.activeSlide,
.paginator .selected,
.paginator .current a {
    background-position: 0px -30px;
}

.paginator .previous {
	width:30px;
	height:30px;
    float: left;
    cursor: pointer;
    z-index: 600;
	background:url(../../bundles/kailabfrontend/images/slider_arrows_black.png) no-repeat;
    padding: 0;
}

.paginator .next {
    padding: 0;
	width: 30px;
	height: 30px;
    float: right;
    cursor: pointer;
    z-index: 600;
	background:url(../../bundles/kailabfrontend/images/slider_arrows_black.png) no-repeat;
    background-position: -30px 0;
}
