.legal {
    background-image: url(../bundles/kailabfrontend/images/bg_legal.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: x-small;
    overflow: hidden;
}

.column {
    width: 300px;
    margin: 0 20px 10px 0;
    float: left;
    text-align: justify;
}

.legal h1,
.legal h2,
.legal h3 {
    margin-top: 1em;
}

.legal .example {
    font-style: italic;
}
