#apps {
    margin: 0;
    padding: 0;
}

#apps li {
    cursor: pointer;
}

#app {
    clear: both;
}

#app .side {
    float: left;
    width: 250px;
    height: 500px;
    position: relative;
}

#app .nav {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 500;
    bottom: 0;
    line-height: 22px;
}

#app .nav a {
    padding: 11px;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    margin: 5px;
	background:url(../images/slider_bullets.png) no-repeat;
    background-position: 0px 0px;
    font-size: 0px;
    text-indent: -99999px;
}

#app .nav a.activeSlide {
    background-position: 0px -22px;
}

#app .previous {
	width:30px;
	height:30px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    z-index: 500;
	background:url(../images/slider_arrows.png) no-repeat;
}

#app .next {
	width:30px;
	height:30px;
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    z-index: 500;
	background:url(../images/slider_arrows.png) no-repeat;
    background-position: -30px 0;
}

#app .main {
    margin-left: 250px;
}

#app .main h2 {
    background-image: url(../images/bg_title.png);
    color: #000000;
    padding: 3px 60px 0 60px;
}

#app .description {
    margin: 0 200px 0 0;
    padding: 0 10px;
}

#app .info {
    float: right;
    width: 200px;
}

#app .info h3 {
    color: #000000;
    font-size: 14px;
    border: 0;
}

#apps_scroll {
    position: relative;
    height: 170px;
}

#apps_scroll .hotspot_left
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 200;
	left: 0;
	cursor: w-resize;
}

#apps_scroll .hotspot_right
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: e-resize;
}

#apps_scroll .wrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#apps_scroll .scrollable 
{
	position: relative;
	height: 100%;
}


