#apps {
    margin: 0;
    padding: 0;
}

#apps li {
    list-style: none;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    margin: 0 20px 0 0;
    padding: 0;
    background-position: center bottom;
    width: 100px;
    height: 200px;
}

#apps li.iphone {
    background-image: url(../images/bg_iphone_small.png);
}

#app {
    clear: both;
}

.app .screenshot {
    background-repeat: no-repeat;
    float: left;
    width: 250px;
}

.app .screenshot.iphone {
    background-image: url(../images/bg_iphone_big.png);
    padding: 75px 21px 75px 21px;
}

#app_main {
    margin-left: 250px;
}

#app_main h2 {
    background-image: url(../images/bg_title.png);
    color: #000000;
    padding: 3px 60px 0 60px;
}

#apps_scroll {
    position: relative;
    height: 200px;
}

#apps_scroll .hotspot_left
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 200;
	left: 0;
	cursor: w-resize;
}

#apps_scroll .hotspot_right
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: e-resize;
}

#apps_scroll .wrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#apps_scroll .scrollable 
{
	position: relative;
	height: 100%;
}
