#slider {
    width: 470px;
    height: 440px;
    float: left;
    margin: 0 10px 10px 0;
}

.nivoSlider {
    background-color: #000000 !important;
}

#blocks {
    width: 960px;
}

.maincontent .block {
    width: 208px;
    height: 208px;
    border: 1px solid #eeeeee;
    margin: 0 10px 10px 0;
    padding: 10px;
    float: left;
    background-image: url(../images/bg_block.png);
    position: relative;
    overflow: hidden;
}

.maincontent .block.twitter {
    height: 448px;
    float: right;
}

#main .maincontent .block h2 {
    border: 0;
    margin: 0;
}

#main .maincontent .block h2 a {
    text-decoration: none;
}

.maincontent .block .screenshot_small {
    float: left;
}

.maincontent .block p {
    line-height: 1.2em;
}

.maincontent .block .top {
    text-align: center;
}

.maincontent .block .side {
    float: left;
    width: 90px;
    padding: 0 10px 10px 0;
    text-align: center;
}

.maincontent .block .excerpt {
    font-size: x-small;
}

.maincontent .block .main {
}

#main .maincontent .block h3 {
    border-bottom: 0;
    padding: 0;
    margin: 0;
}

.maincontent .block .foot {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.maincontent .block .button {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    display: block;
    float: right;
    padding: 4px;
    background-image: url(../images/bg_block_button.png);
}
